---
layout: dashboard
---
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        {% include componentes/cards/processos.html %}
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        {% include componentes/cards/clientes.html %}
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        {% include componentes/cards/compromissos.html %}
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        {% include componentes/cards/financeiro.html %}
    </div>
</div>

<!-- Gráficos  -->
<div class="row">
    <div class="col-md-4">
        {% include componentes/graficos/financeiro.html %}
    </div>

    <div class="col-md-4">
        {% include componentes/graficos/processos.html %}
    </div>

    <div class="col-md-4">
        {% include componentes/graficos/tarefas.html %}
    </div>
</div><!-- // Gráficos  -->

<div class="row">
    <div class="col-lg-6 col-md-12">
        {% include componentes/tarefas_lista.html %}
    </div>

    <div class="col-lg-6 col-md-12">
            {% include componentes/processos_lista.html %}  
    </div>
</div>