---
layout: dashboard
---
<!-- <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        {% include componentes/cards/processos.html %}
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        {% include componentes/cards/clientes.html %}
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        {% include componentes/cards/compromissos.html %}
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        {% include componentes/cards/financeiro.html %}
    </div>
</div> -->

<div class="row">
    <div class="col-md-12">
        {% include componentes/processos_lista.html %}  
    </div>
</div>