<div class="card">
    <div class="card-header" data-background-color="green">
        <div class="row">        
            <div class="col-md-9">
                <h4 class="title">Gerenciamento de Clientes</h4>
                <p class="category">Clientes e Processos</p>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#novo_cliente">
                    <i class="material-icons">add</i> Novo Cliente
                </button>
            </div>
        </div>
    </div>
    <div class="card-content table-responsive">
        <table class="table table-hover">
            <thead class="text-success">
                <th>Processo</th>
                <th>Cliente</th>
                <th>Natureza</th>
                <th>Status</th>
                <th>Opções</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>João Batista de Sousa</td>
                    <td>Criminal</td>
                    <td>Ativo</td>
                    <td>
                        <button type="button" rel="tooltip" title="Editar Tarefa" class="btn btn-primary btn-simple btn-xs">
                            <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>João Batista de Sousa</td>
                    <td>Criminal</td>
                    <td>Ativo</td>
                    <td>
                        <button type="button" rel="tooltip" title="Editar Tarefa" class="btn btn-primary btn-simple btn-xs">
                            <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>João Batista de Sousa</td>
                    <td>Criminal</td>
                    <td>Ativo</td>
                    <td>
                        <button type="button" rel="tooltip" title="Editar Tarefa" class="btn btn-primary btn-simple btn-xs">
                            <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>João Batista de Sousa</td>
                    <td>Criminal</td>
                    <td>Ativo</td>
                    <td>
                        <button type="button" rel="tooltip" title="Editar Tarefa" class="btn btn-primary btn-simple btn-xs">
                            <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>