<div class="card">
    <div class="card-header" data-background-color="orange">
        <h4 class="title">Acompanhamento de Processos</h4>
        <p class="category">Acompanhe os Últimos processos cadastrados</p>
    </div>
    <div class="card-content table-responsive">
        <table class="table table-hover">
            <thead class="text-warning">
                <th>Processo</th>
                <th>Cliente</th>
                <th>Natureza</th>
                <th>Status</th>
                <th>Opções</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>João Batista de Sousa</td>
                    <td>Criminal</td>
                    <td>Ativo</td>
                    <td>
                        <button type="button" rel="tooltip" title="Editar Tarefa" class="btn btn-primary btn-simple btn-xs">
                            <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>João Batista de Sousa</td>
                    <td>Criminal</td>
                    <td>Ativo</td>
                    <td>
                        <button type="button" rel="tooltip" title="Editar Tarefa" class="btn btn-primary btn-simple btn-xs">
                            <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>João Batista de Sousa</td>
                    <td>Criminal</td>
                    <td>Ativo</td>
                    <td>
                        <button type="button" rel="tooltip" title="Editar Tarefa" class="btn btn-primary btn-simple btn-xs">
                            <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>João Batista de Sousa</td>
                    <td>Criminal</td>
                    <td>Ativo</td>
                    <td>
                        <button type="button" rel="tooltip" title="Editar Tarefa" class="btn btn-primary btn-simple btn-xs">
                            <i class="material-icons">edit</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>